::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 212, 220);
    font-family: 'Raleway', sans-serif;
}

.page-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 180vh;
    flex-wrap: wrap;
}

.container {
    width: 25rem;
    height: 20rem;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 15px;
}

.descriptionbox {
    padding: 8px;
    background-color: beige;
    border-radius: 6px;
    border: 0px;
}

.amountbox {
    padding: 8px;
    background-color: beige;
    border-radius: 6px;
    border: 0px;
}

#addexpense {
    width: 10rem;
    padding: 10px;
    border:0px;
    border-radius: 7px;
}

#addexpense:hover{
    background-color: rgb(227, 227, 227);
}

#addexpense:active {
    background-color:rgb(158, 158, 158);
}
.container2 {
    width: 25rem;
    height: 20rem;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 15px;
}

.container2 p{
    font-size: 20px;
}

.expenses {
    margin:20px auto;
}

.ul {
    
    background-color: aliceblue;
}

li {
    list-style-type: none;
    font-size: 15px;
    margin: 5px 0;
    padding: 10px ;
    background-color: white;
    border-left: 4px solid #007bff;
    border-radius: 10px;
    overflow: hidden;
}
